.codeinput-inner {
    .buttons {
        margin-top: 0px;
        margin-bottom: 0px;
        button.buttons-feedback {
            display: none;
        }
    }
    #error-report {
        margin-top: 1px; 
        border-top: 1px; 
        height: 170px; 
        overflow-y: auto; 
        padding-left: 10px; 
        padding-right: 10px;
        padding-top: 10px;
    }
    #code-section {
        width: 100%; 
        display: inline-block;

        #editor {
            height: 400px;
            position: relative;
        }
        #validation-detail {
            display: none;
        }
        #success {
            display: none;   
        }
        #error-detail {
            display: none;
        }

    }

}